
@{
    ViewData["Title"] = "About";
}

<h1> @ViewData["Name"] @ViewData["SurName"]</h1>
<h1> @ViewBag.Name1 @ViewBag.SurName1</h1>
<h1> @TempData["Name"] @TempData["SurName"]</h1>

<a href="http://localhost:48267/home/Index">Index</a>

